<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sentaroh.android.SMBSync"
    android:versionCode="91"
    android:versionName="1.80" >

    <uses-sdk android:minSdkVersion="7" 
        android:targetSdkVersion="11"/>
	<uses-permission 
    	android:name="android.permission.INTERNET"/>
   	<uses-permission 
   	    android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
   	<uses-permission 
	    android:name="android.permission.ACCESS_WIFI_STATE"/>
   	<uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:icon="@drawable/smbsync"
        android:label="@string/app_name"
        android:theme="@style/MainTheme" 
        android:name="GlobalParameters" android:largeHeap="true">
        <activity
            android:label="@string/app_name"
            android:name=".SMBSyncMain"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="unspecified" 
            android:alwaysRetainTaskState="true" 
            android:icon="@drawable/ic_64_smbsync">
       <!-- android:alwaysRetainTaskState="true"-->
            
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
	        android:name=".SMBSyncSettings"
            android:label="@string/app_name"
            android:screenOrientation="unspecified" 
            android:icon="@drawable/ic_64_smbsync">
        </activity>
        <service android:name=".SMBSyncService"/>
        <!-- android:noHistory="true"  -->
    </application>

</manifest>